/* Стилизация кнопки */
.button {
  width: 189px;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.button_primary {
  color: var(--white);
  background-color: var(--primary);
  border: none;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_primary:hover,
.button_primary:active {
  background-color: #2342c0;
}

.button_secondary {
  color: var(--white);
  background-color: var(--secondary);
  border: none;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_secondary:hover,
.button_secondary:active {
  background-color: #5028c6;
}

.button_alternate {
  color: var(--grey-4);
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  transition: border 200ms ease-in-out;
}

.button_alternate:hover,
.button_alternate:active {
  border-color: var(--black);
}
