html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__box {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  padding-top: 96px;
  padding-bottom: 77px;
}

.header__heading {
  margin: 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  color: var(--black);
}

.main {
  background-color: #f9fafc;
  flex: 1;
}

.footer {
  text-align: center;
  padding-top: 72px;
  padding-bottom: 136px;
}

.footer__title {
  margin: 0;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  color: var(--black);
}

.footer__text {
  margin: 32px auto 0;
  width: 640px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}
