.page {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__box {
  max-width: 1110px;
  margin: 0 auto;
}

.page__content {
  background-color: #f9fafc;
  flex: 1;
}
